form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

p {
    font-size: 2em;
}

input[type=text] {
    padding: 12px 20px;
  /* margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  transition: width 2s linear;

}

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid black;
    width: 300px;
  }

button[type=button] {
    border: none;
    color: black;
    padding: 12px 24px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-size: 0.7em;
  }



