.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.appHeader {
  display: flex;
  flex-direction: row;
    column-gap: 15px;
    align-items: center;
}

h1 {
  text-align: center;
  color: #4f4f4f;
}

.chooseButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}